@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400');
@import url('https://fonts.googleapis.com/css?family=Cute+Font&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');


a {
color: whitesmoke;
}
body {
height: auto;
margin: 2em;
background-color: rgb(32, 92, 54);
/*font-family: 'Quicksand', sans-serif;*/
font-family: 'Rajdhani', sans-serif;
}
.header {
padding: 10px;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right:0%;
text-align: left;
color: white;
}
.Tempheader{
padding: 10px;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right:0%;
text-align: center;
color: black;
}
.headerleft {
padding: 10px;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right:0%;
text-align: left;
color: white;
}
.headerright {
padding: 10px;
margin-top: 0%;
margin-bottom: 0%;
margin-left: 0%;
margin-right:0%;
text-align: right;
color: white;
}
.content {padding:20px;}
.page-content {
  margin-left: 9%;
  margin-right:0%;
  margin-bottom:0%;
  margin-top:0%;
  color: white;
  align: right;
}
.icons{text-align:right
  ;padding-right:10px;}
.icons svg{outline:5px solid #bbb;
background:#bbb;margin:6px;border:0}
.highlightTextUndCon {
background-color: rgb(0, 56, 101);
color: black;
width: 100%;
text-align: center;
padding: 5px;
}
.highlightText {
background-color: rgb(0, 56, 101);
color: #fff;
width: 50%;
text-align: center;
padding: 5px;
}

.highlightText2 {
background-color: rgb(0, 56, 101);
color: #fff;
width: 90%;
text-align: center;
padding: 5px;
}

.highlightText3 {
background-color: rgb(0, 56, 101);
color: #fff;
width: 50%;
text-align: center;
padding: 5px;
}

.highlightText4 {
background-color: #E52521;
color: #fff;
width: 50%;
text-align: center;
padding: 5px;
}



.columnleft {
float: left;
width: 33.33%;
padding: 5px;
}
.columnright {
float: right;
width: 33.33%;
padding: 5px;
}
.columnright2 {
float: right;
width: 50%;
padding: 5px;
}
.columnleft2{
float: left;
width:50%;
padding: 5px;
} 
canvas {
border: 2px solid white;}


.footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgba(0, 0, 0, 50);
color: white;
text-align: center;
}
.footer2 {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: rgba(255, 255, 255, 50);
color: white;
text-align: center;
}


/* The side navigation menu */
.sidenav {
height: 100%; /* 100% Full-height */
width: 0; /* 0 width - change this with JavaScript */
position: fixed; /* Stay in place */
z-index: 1; /* Stay on top */
top: 0; /* Stay at the top */
left: 0;
background-color: #111; /* Black*/
overflow-x: hidden; /* Disable horizontal scroll */
padding-top: 60px; /* Place content 60px from the top */
transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
transition: margin-left .5s;
padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
ul, li {
list-style-type: none;
padding: 0;
margin: 0; }

* {
box-sizing: border-box; }

#i-slider {
width: 620px;
height: 320px;
position: relative; }
#i-slider ul li.i-images {
position: absolute;
width: 620px;
height: 320px;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
opacity: 0;
visibility: hidden;
transition: .22s all linear; }
#i-slider ul li.i-images.active {
visibility: visible !important;
opacity: 1 !important;
transition: .22s all linear; }
#i-slider .i-nav {
position: relative;
left: 0;
right: 0;
top: 0;
bottom: 0;
width: 100%;
height: 100%;
z-index: 999999;
display: table; }
#i-slider .i-nav > span {
max-height: 100%;
display: block;
padding: 25% 15px;
cursor: pointer;
display: table-cell;
font-weight: bold;
color: rgba(255, 255, 255, 0.7);
z-index: 999999999;
font-size: 20px;
transition: .22s all linear;
background-color: rgba(0, 0, 0, 0.1); }
#i-slider .i-nav > span:hover {
background-color: rgba(0, 0, 0, 0.5); }
#i-slider .i-nav .i-next {
position: absolute;
right: 0;
top: 0;
bottom: 0; }
#i-slider .i-nav .i-pre {
position: absolute;
left: 0;
top: 0;
bottom: 0; }
#i-slider .i-nav .i-pre img {
transform: rotate(180deg); }

/*# sourceMappingURL=style1.css.map */

    main .button {
      text-align: center;
      margin: 30px
    }

    main .button a {
      color: #fff;
      padding: 10px 30px;
      text-decoration: none;
      -moz-border-radius: 8px;
      -webkit-border-radius: 8px;
      border-radius: 8px;
      -webkit-box-shadow: 0 1px 3px #666;
      -moz-box-shadow: 0 1px 3px #666;
      text-shadow: 0 1px 3px #666;
      border: solid #c00 2px;
      background: #c00;
      background: -webkit-gradient(linear, 0 0, 0 100%, from(#f00), to(#811));
      background: -moz-linear-gradient(top, #f00, #811);
      font-size: 13px
    }

    @media (min-width: 50em) {
      aside {
        top: 0;
        left: 0;
        position: fixed;
        width: 17em;
        height: 100%
      }

      main {
        margin-left: 17em
      }

      #sidebar {
        position: absolute;
        bottom: 30px
      }
    }

    @media (min-width: 68em) {
      main h1 {
        font-size: 47px
      }

      main {
        padding: 20px 100px
      }
    }

    

      .container {
    display: flex;
    justify-content: center;
    margin-top: 16em;
    transform: rotate(45deg);
    }
    .loader {
    width: 5em;
    height: 2em;
    border: 2px groove whitesmoke;
    border-radius: 5em;
    margin-left: -12%;
    position: relative;
    animation: Slide_Me 1.3s ease infinite;
    }
    .loader::after {
    content: "";
    width: 2em;
    height: 2em;
    background: lightgoldenrodyellow;
    position: fixed;
    border-radius: 4em;
    animation: Move 1.3s ease infinite;
    }
    @keyframes Slide_Me {
    0% {
        transform: translateX(0px);
    }
    20% {
        width: 4.8em;
    }
    50% {
        transform: translateX(120px);
        width: 2em;
    }
    70% {
        width: 4.8em;
    }
    100% {
        transform: translateX(0px);
        width: 2em;
    }
    }
    @keyframes Move {
    15% {
        right: 0%;
        background: lightcoral;
    }
    100% {
        background: lightgreen;
    }
    }
    
